.steam{
margin-left: 150px;
margin-bottom: 30px;
}




.x{
    margin-left: 150px;
    margin-bottom: 30px;
}




.Twitch{
    margin-left: 150px;
    margin-bottom: 30px;
}





.Playstation{
    margin-left: 150px;
    margin-bottom: 30px;
}





.Messenger{
    margin-left: 150px;
    margin-bottom: 30px;
}

.bag{
    margin-left: 150px;
    margin-bottom: 30px;
}


.Linkedin{
    margin-left: 150px;
    margin-bottom: 30px;
}


.steam-let {
width: 100px;
}
